h1{
    text-align: center;
}
.main{
    justify-content: center;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 9vw;
}

.con-body{
    width: 11vw;
    height: 13vw;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.conimg{
    width: 7vw;
    height: 7vw;
    margin: auto;
}
.conimg> img{
    height: 100%;
    width: 100%;
}

.conid{
    display: none;
}

.conname{
    font-size: 20px;
    font-weight: 500;
}

.conprice{
    color: red;
}

.cart-button{
    background-color: rgb(171, 171, 19);
    cursor: pointer;
}

cart-button :hover{
    background-color: rgb(255, 255, 255);
}